# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
ENV/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment and secrets
.env
key.json

# Output files
generated*.wav
test.wav
